/*----------
    RESET
----------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    CLEARFIX
--------------*/

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}



/*-----------
    TYPO
-----------*/

html, body{
    font-family: 'Montserrat', sans-serif;
}


/*-------------
    COMMONS
-------------*/

/* Contenitore body */
.container-body{
    max-width: 100%;
    height: 100%;
}

/* Header top */

.header-top{
    height: 100px;
    padding: 2% 1.5%;
    width: 100%;
}

/* logo */
.header-top img{
    float: left;
}

/* nav all'interno dell'header */
.header-nav{
    height: 100%;
    padding-top: 0.3%;
}

/* stile tag a header */
.header-top a{
    text-decoration: none;
    color: black;
}

/* modifica display button header */
.header-top button{
    display: inline-block;
}

/* modifica display ul header */
.header-top ul{
    display: inline-block;
}

/* modifica display li header */
.header-top li{
    display: inline-block;
}

/* Nav di sinistra */
.nav-left{
    margin-left: 20px;
    width: 45%;
    float: left;
}

/* li nav di sinistra */
.nav-left li{
    margin-left: 20px;
}

/* Nav di destra */
.nav-right{
    float: right;
}

/* li nav di destra */
.nav-right li{
    margin-right: 20px;
}

/* classe hero */
.hero{
    padding: 40px 10%;
    width: 100%;
}

/* titolo hero */
.hero h1{
    font-size: 60px;
}

/* colonna sinistra hero */
.col-hero-left{
    width: 40%;
    float: left;
    margin-top: 30px;
}

/* button colonna sinistra hero */
.col-hero-left button{
    margin-top: 30px;
}

/* colonna destra hero */
.col-hero-right{
    width: 50%;
    float: right;
    margin-top: 30px;
}

/* immagine colonna destra hero */
.col-hero-right img{
    margin-bottom: -90px;
    width: 100%;
    height: auto;
}

/* span colonna sinistra hero */
.col-hero-left span{
    display: block;
    margin: 10px 0;
}

/* entity colonna sinistra hero */
.col-hero-left .entity{
    font-size: 50px;
}

/* seconda sezione main */
.section-second{
    margin: 140px 15%;
}

/* titolo seconda sezione */
.section-second h2{
    margin-bottom: 30px;
}

/* colonna sezione container */
.container-section-columns{
    margin-top: 30px;
}

/* colonna sezione sinistra */
.col-section-left{
    border: 1px solid grey;
    float: left;
    width: 26.7%;
    min-height: 750px;
}

/* colonna sezione centro */
.col-section-middle{
    margin-left: 10%;
    border: 1px solid grey;
    float: left;
    width: 26.7%;
    min-height: 750px;
}

/* colonna sezione destra */
.col-section-right{
    margin-left: 10%;
    border: 1px solid grey;
    float: left;
    width: 26.6%;
    min-height: 750px;
}

/* intestazione seconda sezione */
.section-second .intestazione{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

/* contenuto seconda sezione */
.section-second .content{
    margin: 25px 20px;
}

/* stile ul */
ul{
    list-style-type: none;
}

/* elementi lista content */
.content li{
    margin-top: 15px;
    font-size: small;
}

/* button seconda sezione */
.section-second button{
    margin-top: 15px;
}

/* span content */
.content span{
    margin-top: 15px;
    display: block;
    font-size: small;
}

/* titolo h4 nel content */
.content h4{
    margin-top: 25px;
}

/* container radio button span */
.container-radio span{
    margin-right: 10px;
    line-height: 50%;
    vertical-align: middle;
}

/* container radio button */
.container-radio {
    margin-right: 5px;
}

/* radio button */
.radio-btn{
    margin-right: 5px;
    line-height: 50%;
    vertical-align: middle;
}

/* linea orizzontale */
.horizontal-line{
    height: 1px;
    width: 20%;
    background-color: lightgrey;
    margin-top: 20px;
}

/* stile check */
.check i{
    color: rgb(0, 97, 255) ;
}

/* colonna sotto */
.column-bottom{
    border: 1px solid gray;
    margin-top: 50px;
}

/* contenuto sinistra colonna sotto */
.column-bottom .content-left{
    width: 70%;
    float: left;
}

/* contenuto destra colonna sotto */
.column-bottom .content-right{
    float: right;
    width: 30%;
}

/* button colonna sotto */
.column-bottom button{
    margin-top: 0;
    width: 100%;
    padding: 10px 0;
}

/* terza sezione */
.section-third{
    margin: 0 15%;
    margin-bottom: 100px;
}

/* immagine terza sezione */
.section-third img{
    width: 100%;
    height: auto;
}

/* contenuto sinistra terza sezione */
.section-third .left-content{
    float: left;
    width: 50%;
}

/* contenuto destra terza sezione */
.section-third .right-content{
    float: right;
    width: 45%;
}

/* titolo h4 terza sezione */
.section-third h4{
    font-size: 25px;
    margin-bottom: 20px;
}

/* paragrafo terza sezione */
.section-third p{
    margin-bottom: 20px;
}

/* quarta sezione */
.section-fourth{
    margin: 0 15%;
    margin-bottom: 100px;
}

/* riga quarta sezione */
.section-fourth .row{
    width: 100%;
    margin-bottom: 70px;
}

/* colonna sinistra quarta sezione */
.section-fourth .col-left{
    width: 30%;
    margin-right: 5%;
    float: left;
}

/* colonna centro quarta sezione */
.section-fourth .col-middle{
    width: 30%;
    margin-right: 5%;
    float: left;
}

/* colonna destra quarta sezione */
.section-fourth .col-right{
    width: 30%;
    float: left;
}

/* immagine quarta sezione */
.section-fourth img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* titolo h4 quarta sezione */
.section-fourth h4{
    margin-bottom: 20px;
}

/* quinta sezione */
.section-fifth{
    width: 100%;
}

/* titolo h3 quinta sezione */
.section-fifth h3{
    margin-left: 15%;
    margin-bottom: 30px;
    font-size: 25px;
}

/* a link quinta sezione */
.section-fifth a{
    text-decoration: underline;
    margin-left: 15%;
    font-size: small;
    margin-bottom: 30px;
    display: block;
}

/* container sinistra quinta sezione */
.section-fifth .container-left{
    width: calc(100% / 3);
    float: left;
}

/* team design quinta sezione */
.section-fifth .team-design{
    width: 16.48vw;
    height: 16.48vw;
    position: relative;

}

/* immagine colonna */
.col img{
    position: absolute;
    width: 55%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

/* colonna quinta sezione */
.section-fifth .col{
    float: left;
}

/* finta altezza */
.fake-height{
    height: 506.1px;
}

/* immagine designit */
#designit-img{
    width: 150px;
    height: auto;
}

/* contenitore centrale */
.container-left .middle{
    width: 100%;
    height: 100%;
    padding: 50px 50px;
    background-color: #f5f5f5;
}

/* linea orizzontale container centro */
.middle .horizontal-line{
    height: 3px;
    background-color: gray;
    width: 15%;
    margin-bottom: 30px;
}

/* paragrafo container centrale */
.middle p{
    margin-bottom: 30px;
}

/* section sotto */
.section-bottom{
    margin-bottom: 100px;
}
/* titolo h2 sezione sotto */
.section-bottom h2{
    margin: 100px 15%;
    float: left;
    vertical-align: middle;
    color: #61082b;
    font-size: 30px;
}

/* sezione sotto contenitore button */
.section-bottom .button-container{
    margin: 125px 15%;
    float: right;
    vertical-align: top;
    line-height: 100%;
}

/* faq section */
.faq{
    margin: 0 15%;
    margin-bottom: 100px;
}

/* titolo h2 faq */
.faq h2{
    margin-bottom: 50px;
}

/* contenitore faq */
.faq div{
    padding: 25px 0;
}

/* entity faq */
.faq .entity{
    float: right;
    margin-right: 20px;
}

/* hr faq */
.faq hr{
    border: 0;
    height: 2px;
    background-color: lightgrey;
}

/* footer top */
.footer-top{
    padding: 100px 0;
    margin: 0 10%;
}

/* titolo h4 footer top */
.footer-top h4{
    margin-bottom: 30px;
}

/* span footer top */
.footer-top span{
    margin-bottom: 15px;
    display: block;
}

/* colonna footer */
.col-footer {
    float: left;
    width: calc(100% / 5) - 30px;
    margin-right: 65px;
}

/* footer sotto */
.footer-bottom{
    margin: 0 10%;
    padding-bottom: 40px;
}

/* footer hr */
#footer-hr{
    width: 10%;
    background-color: grey;
    fill: grey;
    color: grey;
    height: 1px;
    border: 0;
    margin-bottom: 40px;
}

/*------------
    BUTTON
------------*/

button{
    padding: 6px 12px;
    border: none;
}

/*---------------------------------- 
    COLORS (TEXT AND BACKGROUND)
----------------------------------*/

.text-white{
    color: white;
}

.text-grey{
    color: grey;
}

.text-blue{
    color: rgb(0, 97, 255) ;
}

.background-blue{
    background-color: rgb(0, 97, 255);
}

.background-white{
    background-color: white;
}

.background-lightblue{
    background-color: #b4d0e7;
}

.background-lightgray{
    background-color: lightgray;
}

.border-black{
    border: 1px solid black;
}

.background-designit{
    background-color: #a2d39b;
}

.background-asu{
    background-color: #61082b;
}

.background-uf{
    background-color: #0093ce;
}

.background-topps{
    background-color: #ff1c1c;
}

.background-worldbicycle{
    background-color: #d5001f;
}

.background-hearst{
    background-color: #b4d0e7;
}

.background-lonelyplanet{
    background-color: #0d2481;
}

.background-clearchannel{
    background-color: #ffd830;
}

.background-black{
    background-color: black;
}