/*----------
    RESET
----------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------
    CLEARFIX
--------------*/

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}



/*-----------
    TYPO
-----------*/

html, body{
    font-family: 'Montserrat', sans-serif;
}


/*-------------
    COMMONS
-------------*/

/* Contenitore body */
.container-body{
    max-width: 100%;
    height: 100%;
}

/* Header top */

.header-top{
    height: 100px;
    padding: 2% 1.5%;
    width: 100%;
}

.header-top img{
    float: left;
}

.header-nav{
    height: 100%;
    padding-top: 0.3%;
}

.header-top a{
    text-decoration: none;
    color: black;
}

.header-top button{
    display: inline-block;
}

.header-top ul{
    display: inline-block;
}

.header-top li{
    display: inline-block;
}

/* Nav di sinistra */
.nav-left{
    margin-left: 20px;
    width: 45%;
    float: left;
}

.nav-left li{
    margin-left: 20px;
}

/* Nav di destra */

.nav-right{
    float: right;
}

.nav-right li{
    margin-right: 20px;
}

.hero{
    padding: 40px 10%;
    width: 100%;
}

.hero h1{
    font-size: 60px;
}

.col-hero-left{
    width: 40%;
    float: left;
    margin-top: 30px;
}

.col-hero-left button{
    margin-top: 30px;
}

.col-hero-right{
    width: 50%;
    float: right;
    margin-top: 30px;
}

.col-hero-right img{
    margin-bottom: -90px;
    width: 100%;
    height: auto;
}

.col-hero-left span{
    display: block;
    margin: 10px 0;
}

.col-hero-left .entity{
    font-size: 50px;
}

.section-second{
    margin: 140px 15%;
}

.section-second h2{
    margin-bottom: 30px;
}

.container-section-columns{
    margin-top: 30px;
}

.col-section-left{
    border: 1px solid grey;
    float: left;
    width: 26.7%;
    min-height: 750px;
}

.col-section-middle{
    margin-left: 10%;
    border: 1px solid grey;
    float: left;
    width: 26.7%;
    min-height: 750px;
}

.col-section-right{
    margin-left: 10%;
    border: 1px solid grey;
    float: left;
    width: 26.6%;
    min-height: 750px;
}

.section-second .intestazione{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.section-second .content{
    margin: 25px 20px;
}

ul{
    list-style-type: none;
}

.content li{
    margin-top: 15px;
    font-size: small;
}

.section-second button{
    margin-top: 15px;
}

.content span{
    margin-top: 15px;
    display: block;
    font-size: small;
}

.content h4{
    margin-top: 25px;
}

.container-radio span{
    margin-right: 10px;
    line-height: 50%;
    vertical-align: middle;
}

.container-radio {
    margin-right: 5px;
}

.radio-btn{
    margin-right: 5px;
    line-height: 50%;
    vertical-align: middle;
}

.horizontal-line{
    height: 1px;
    width: 20%;
    background-color: lightgrey;
    margin-top: 20px;
}

.column-bottom{
    border: 1px solid gray;
    margin-top: 50px;
}

.column-bottom .content-left{
    width: 70%;
    float: left;
}

.column-bottom .content-right{
    float: right;
    width: 30%;
}

.column-bottom button{
    margin-top: 0;
    width: 100%;
    padding: 10px 0;
}

.section-third{
    margin: 0 15%;
    margin-bottom: 100px;
}

.section-third img{
    width: 100%;
    height: auto;
}

.section-third .left-content{
    float: left;
    width: 50%;
}

.section-third .right-content{
    float: right;
    width: 45%;
}

.section-third h4{
    font-size: 25px;
    margin-bottom: 20px;
}

.section-third p{
    margin-bottom: 20px;
}

.section-fourth{
    margin: 0 15%;
    margin-bottom: 100px;
}

.section-fourth .row{
    width: 100%;
    margin-bottom: 70px;
}

.section-fourth .col-left{
    width: 30%;
    margin-right: 5%;
    float: left;
}

.section-fourth .col-middle{
    width: 30%;
    margin-right: 5%;
    float: left;
}

.section-fourth .col-right{
    width: 30%;
    float: left;
}

.section-fourth img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.section-fourth h4{
    margin-bottom: 20px;
}


/*------------
    BUTTON
------------*/

button{
    padding: 6px 12px;
    border: none;
}

/*---------------------------------- 
    COLORS (TEXT AND BACKGROUND)
----------------------------------*/

.text-white{
    color: white;
}

.text-grey{
    color: grey;
}

.text-blue{
    background-color: rgb(0, 97, 255) ;
}

.background-blue{
    background-color: rgb(0, 97, 255);
}

.background-white{
    background-color: white;
}

.background-lightblue{
    background-color: #b4d0e7;
}

.border-black{
    border: 1px solid black;
}